.home {
    width: 100%;
    height: 100vh;
    background-color: #ff8c6b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.btn {
    display: inline-block;
    margin-top: 2rem;
    background-color: #151111;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    text-decoration: none;
    border: none;
}

.btn:hover {
    background-color: #8371fd;
}